button {
    background-color: #1E8CDF;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    
    
  }
.float-left{
  float: left;
  margin-left: 9%;
}

.float-right{
  margin-right: 65%;
}