.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


html, body, #root {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 100%;
  height: 100%;
}

.SplitPane-left {
  float: left;
  width: 50%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 50%;
  height: 100%;
}

.Form {
  width: 100%;
  height: 100%;
}

.Table {
  width: 100%;
  height: 100%; 
  background: pink;
}